[Unit]
Description=Timer to change wallpapers every 15 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=900
Persistent=true

[Install]
WantedBy=timers.target
