* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(30, 30, 46, 0.9);
}

button {
  border-radius: 8px;
  border-color: #6c7086;
  text-decoration-color: #cdd6f4;
  color: #cdd6f4;
  background-color: #313244;
  border-style: solid;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:focus,
button:active,
button:hover {
  border-color: #b4befe;
  background-color: #585b70;
  outline-style: none;
}

#lock {
  background-image: image(url("/usr/share/wleave/icons/lock.svg"), url("/usr/local/share/wleave/icons/lock.svg"));
}

#logout {
  background-image: image(url("/usr/share/wleave/icons/logout.svg"), url("/usr/local/share/wleave/icons/logout.svg"));
}

#suspend {
  background-image: image(url("/usr/share/wleave/icons/suspend.svg"), url("/usr/local/share/wleave/icons/suspend.svg"));
}

#hibernate {
  background-image: image(url("/usr/share/wleave/icons/hibernate.svg"), url("/usr/local/share/wleave/icons/hibernate.svg"));
}

#shutdown {
  background-image: image(url("/usr/share/wleave/icons/shutdown.svg"), url("/usr/local/share/wleave/icons/shutdown.svg"));
}

#reboot {
  background-image: image(url("/usr/share/wleave/icons/reboot.svg"), url("/usr/local/share/wleave/icons/reboot.svg"));
}
