/** ********** Fonts ********** **/
* {
  font-family: "CaskaydiaCove Nerd Font", monospace;
  font-size: 18px;
  font-weight: bold;
}

/** ********** Main Window ********** **/
window {
  background-color: transparent;
}

/** ********** Buttons ********** **/
button {
  background-color: rgba(22, 25, 37, 0.9);
  color: #cdd6f4;
  border: 2px solid #282838;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  transition: all 0.2s ease-in-out;
}

button:focus,
button:active,
button:hover {
  color: #FFFFFF;
  background-color: rgba(22, 25, 37, 1);
  outline-style: none;
}

/** ********** Icons ********** **/
#lock {
  background-image: image(url("icons/lock_white.png"), url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(url("icons/logout_white.png"), url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
  background-image: image(url("icons/suspend_white.png"), url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate_white.png"), url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown_white.png"), url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
  background-image: image(url("icons/reboot_white.png"), url("/usr/share/wlogout/icons/reboot.png"));
}
